/* body{
background-image: url('https://watermark.lovepik.com/photo/40176/4710.jpg_wh1200.jpg');
background-size: cover;
background-position: center;
margin: 0; 
}
.container .sections{
    background-color: white ;
} */




















.container{
    flex-wrap: wrap; 
    background-color: white;
     display: flex; 
     justify-content: space-between;
     font-family:  'Poppins',sans-serif;
     
}
.nav > ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 20px;

}
a{
    text-decoration: none;
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 400;

}

a:hover{
    color: grey;
}
.logo img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}
.logo{
    display: flex;
    gap: 15px;
}
.log img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    
}
.log{
    display: flex;
    gap: 10px;
}
.sections{
    display: flex;
    font-family:  'Poppins',sans-serif;
    font-size: 20px;
     justify-content: space-between; 
    



}
.slogo img{
    width: 65px;
    height: 65px;
    margin-left: 20px;
    border-radius: 4px;
    
}

.slogo{
    display: flex;
    gap: 10px;
    
}

.medi {
    color: blue;
    margin-top: 20px;
}


.nav2 > ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 20px;
}

.btn{
    /* background-color: black; */
    padding: 13px 25px;
     color: white;
     width: 200px;
     height: 50px;
     border-radius: 4px;


}

.btn {
    position: relative;
    overflow: hidden;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Create a pseudo-element for the transition effect */
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
     background: radial-gradient(circle at center, transparent 0%, transparent 0%, black 100%); 
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  
  .btn:hover::before {
    width: 100%;
  }

  /* Hasnain written */
  /* .slide{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }
  .slide-image{
    width: 800px;
    height: 400px;


  } */


  .slide{
    
  }
  .slide-image{
    width: 800px;
    float: right;
    height: 400px;


  }